@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c0c6d6; 
  background: -webkit-linear-gradient(#c0c6d6, #cfd4e1); 
  background: linear-gradient(#c0c6d6, #cfd4e1);
  height: auto;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-form{
  position: relative;
  top: 20%;
  background: #fff;
  width:30%;
  border-radius: 5px;
  padding-top: 77px;
  padding-bottom: 77px;
  -webkit-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
}
.login-form form input{
  margin: 10px;
  padding: 5px;
  width: 50%;


}
.login-container{
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  align-items: center;

}
.dashboard{
 display: flex;
 flex-direction: column;
 text-align: center;
 
}
.feature-1{
  background: #fff;
  padding:1px;
  border-radius:5px;
  margin-left: 5px;
  padding-top:50px;
  margin-top: 10px;
  cursor: pointer;
  width:150px;
}
.feature-1 img{
  height: 100px;
  width: 100px;
}
.feature-title{
  color: #fff;
}
.form-structure{
margin-top: 40px ;
}
.form-structure label span{
  color:'#fff'
}
.form-builder{
  

}
.add-field{
  background: #fff;
  margin: 5px;
  padding: 5px;
  width: 50%;
  position: relative;
  left:25%;
  border-radius: 5px;
  -webkit-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
  
}
.form-struct{
  background: #fff;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
}
.ant-input{
  border: 1px solid #413df7;
}
.btn-btn{
  border: none;
  background:#413df7;
  padding:10px;
  padding-left:50px;
  padding-right:50px;
  font-weight:600;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;

}
.form-title-icon{
  font-size:15px;
}
.change-btn{
  background: #fff;
  margin: 5px;
  border-radius: 5px;
}
.change-btn img{
  height:40px;
  width:40px;
  margin:4px;
}
.feature-btn{
  display: flex;
  justify-content: right;
  
}
.form-rows{
   margin-left:63px;
}
.response-btn{
  border: none;
  background: #017b56;
  padding-top:5px;
  padding:10px;
  border-radius: 5px;
  color: #fff;
}
.response-btn a{
  color: #fff;
}
.response-list{
  display: flex;
  margin: 10px;
  justify-content: space-around;
}
.btn-groups{
  display: contents;
  align-items: center;
  justify-content: center;
}
.response-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-features{
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
.edit{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.edit-box{
  width: 50%;
  margin: auto;
  background: #fff;
   margin-bottom: 10px;
  padding:20px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
  
}
.edit-box input{
  
}
.bar-chart{
 margin-top:20px;

}

.highcharts-container{
  width: 50%;
}