@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
  font-family: 'DM Sans', sans-serif;
}
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #c0c6d6; 
  background: -webkit-linear-gradient(#c0c6d6, #cfd4e1); 
  background: linear-gradient(#c0c6d6, #cfd4e1); */
  height: auto;
  text-align: center;
}


.login-form{

  background: #fff;
  border-radius: 5px;
  padding-top: 77px;
  padding-bottom: 77px;

}
.login-form form input{
  margin:20px;
  padding:20px;
  border: none;
  border-bottom: 1px solid #6e6c6b;
  width:70%;

}
.login-form form button{
  background: #696969;
  color: #fff;
  border: 10px;
  border-radius:45px;
  height: 50px;
  width: 200px;
}
.window{
  margin: 10px;
}
.window button{
  background: #DB8C6C;
  color: #fff;
  border: 10px;
  border-radius:45px;
  height: 50px;
  width: 200px;
}
.window button:hover{
  background: #696969;
  color: #fff;
}
.login-form form button:hover{
  background: #DB8C6C;
  color: #fff;
}
.forgot{
  display: flex;
  justify-content:start;
  margin-left:120px;

}

.login-container a{
color: #DB8C6C;

}
.login-container img{
  width: 100%;
  height:100%;
}
.dashboard{
 display: flex;
 flex-direction: column;
 text-align: center;
margin-top: 5px;
 
}


.feature-title{
  color: #fff;
}
.form-structure{
margin-top: 40px ;
}
.form-structure label span{
  color:'#fff'
}
.form-builder{}
.add-field{
  background: #fff;
  margin: 5px;
  padding: 5px;
  width: 50%;
  position: relative;
  left:25%;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}
.form-struct{
  background:#F4F1EE;
  margin: 5x;
  margin-bottom:40px;
  padding: 5px;
  border-radius: 5px;
  width:100%;
  border-top: 1px solid #6e6c6b;;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}
.fill-form{
  margin: auto;
  width: 50%;
}
.ant-input{
  
}
.btn-btn{
  border: none;
  background: #DB8C6C;
  padding:10px;
  padding-left:50px;
  padding-right:50px;
  color: #fff;
  border: 10px;
  border-radius: 45px;
  height: 50px;
  width: 200px;
  cursor: pointer;

}
.form-title-icon{
  font-size:15px;
}
.form-builder input{

}
.change-btn{
  background: #fff;
  margin: 5px;
  margin-right: 20px;
  border-radius: 5px;
  border-top: 1px solid #6e6c6b;;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
}
.change-btn:hover img{
  height:50px;
  width:50px;

}
.change-btn img{
  height:40px;
  width:40px;
  margin:4px;
  transition: 0.5s;
}
.feature-btn{
  display: flex;
  justify-content: right;
  
}
.form-rows{
  margin: auto;
  margin-top: 20px;
}
.response-btn{
  border: none;
  background: #017b56;
  padding-top:5px;
  padding:10px;
  border-radius: 5px;
  color: #fff;
}
.response-btn a{
  color: #fff;
}
.response-list{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.btn-groups{
  display: contents;
  align-items: center;
  justify-content: center;
}
.response-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-features{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  
 
}
.edit-form-btn{
  padding:8px;
  border-radius:10px;
  color: #6e6c6b;
  background: #F7F7F7;

}
.edit{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.edit-box{
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
  background: #fff;
   margin-bottom: 10px;
  padding:20px;
  border-radius: 5px;
  background:#F4F1EE;
  border-top: 1px solid #6e6c6b;;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.edit-box input{
  padding:10px;
}
.bar-chart{
  margin:20px;
  margin-top:20px;
  border-radius: 10px;
  width: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.calender{
  margin:20px;
  margin-left: 30px;
  padding: auto;
}
.ag-theme-alpine .ag-ltr .ag-cell {
  border-right-width: 100px !important;
}
.feature-1{
  padding: 50px;
  margin-bottom:20px;
  height:250px;
  width:250px;
  background:#F4F1EE;
  border-radius:20px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.5s;
  white-space: nowrap;
  border-top: 1px solid #6e6c6b;;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feature-1:hover{
  padding: 40px;
  background: #DB8C6C;
  color: #fff;
  box-shadow: #DB8C6C 0px 7px 29px 0px;
  border-top: 9px solid #fff;
  transition:translateY(6);
}
.feature-1:hover .edit-form-btn{
  background: #fff;
  color: #DB8C6C;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  

}
.feature-1:hover h3{
  color: #fff;
  transition: 0.5s;
}
.forms{
  margin-left:10%;
}
 .feature-1 h3{
   margin-top: 10px;
   font-size:20px;
   letter-spacing:2px;
   color: #6e6c6b;

 }
 .update-btn{
  margin: 5px;
  margin-bottom: 10px;
  background: #DB8C6C;
  color: #fff;
  padding:10px;
  padding-left:50px;
  padding-right: 50px;
  border-radius:45px;
  border: none;
  cursor: pointer;
 }
.feature-1 img{
  height:90px;
  width:90px;
  border-radius:20px;
}
  .response-list{
   margin: auto;
  margin-bottom: 20px;
  background:#F4F1EE;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
   
  }
  .response-list h2{
    font-size:20px;
  }
  .dashboard{
    margin: auto;
 
  }
  .calender{
    background: #fff;
    padding: 20px;
    padding-left:30%;
    height: 90%;
    border-radius:5px;
    border-radius: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
    background: #696969;
    padding:10px;
    position:sticky;
    top: 0;
  }
  .nav-links ul{
    display: flex;
    justify-content: space-between;

  }
  .nav-links ul li{
    list-style: none;
    margin: 10px;
  }
  .nav-links ul li a{
   color: #fff;
  }
  .nav-bar h1{
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-family: 'Pacifico', cursive;
    font-size:30px;
  }
  .nav-btn a{
    background: #fff;
    padding: 10px;
    margin:10px;
    margin-top:20px;
    border-radius: 5px;
  
  }
  .nav-btn {
    margin-top:15px;
  }
  .nav-bar img{
    height:70px;
    width:70px;
  }
  .add-field{
    transition: 0.5s ;
  }
.form-title{
  padding: 10px;
  background:#F4F1EE;
  border-radius:20px;
  margin-top:10px;
  margin-left: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  border-top: 5px solid #6e6c6b;;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.create-title{
  padding: 10px;
  background:#F4F1EE;
  border-radius:20px;
  width: 50%;
  margin-left:25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  white-space: nowrap;
  border-top: 5px solid #6e6c6b;;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.create-title input{
  border-radius: 45px;
}
.window input{
  padding: 10px;
  width: 100%;
  border-radius: 45px;
}
.create-form-btn{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.generate-btn button{
  background: #696969;;
  color: #fff;
  border: 10px;
  border-radius: 45px;
  height: 50px;
  width: 200px;
}
.cal{
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: right;
  transition: height 0.25s linear;

}
.calender-btn{
  margin-right:25px;
  margin-top: 10px;
  float: right;
  border-radius: 5px;
  padding:2px;
  border-top: 1px solid #6e6c6b;;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
;
  cursor: pointer;
}

.calender-btn img{
  height:40px;
  width: 40px;
  transition: 0.5s

}
.calender-btn:hover img{
  height:50px;
  width:50px;
}