
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-form{
  position: relative;
  top: 20%;
  background: #fff;
  width:30%;
  border-radius: 5px;
  padding-top: 77px;
  padding-bottom: 77px;
  -webkit-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
box-shadow: 10px 11px 22px -6px rgba(0,0,0,0.75);
}
.login-form form input{
  margin: 10px;
  padding: 5px;
  width: 50%;


}
.login-container{
  background: #282D50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #202342, #282D50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #202342, #282D50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  align-items: center;

}
.dashboard{
  background: #282D50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #202342, #282D50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #202342, #282D50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh; 
 
}
.feature-1{
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  padding-top:60px;
  padding-bottom:60px;
  cursor: pointer;
}
.feature-1 img{
  height: 150px;
  width: 150px;
}
.feature-title{
  color: #fff;
}
.form-structure{
margin-top: 40px ;
}
.form-structure label span{
  color:'#fff'
}