

.login-form{
    position: relative;
    top: 20%;
    background: #fff;
    width:30%;
    border-radius: 5px;
    padding-top: 77px;
    padding-bottom: 77px;
  }
  .login-form form input{
    margin: 10px;
    padding: 5px;
    width: 50%;
  
  
  }
  .login-container{
    background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    align-items: center;
  
  }